<main class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <h1 class="title is-2">Title</h1>
              <h2 class="subtitle is-4">Comentario</h2>
            </div>
            <div class="media-content"></div>
            <div class="media-right">
              <figure class="image is-150x150 is-centered">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
              </figure>
              <div class="content field has-addons">
                <a class="button is-white has-addons is-left">EDITAR</a>
                <a class="button is-white has-addons is-right">ELIMINAR</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
