<main class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="card" *ngIf="!editing">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <h1 class="title is-2">{{title}}</h1>
              <h2 class="subtitle is-4">{{content}}</h2>
            </div>
            <div class="media-content"></div>
            <div class="media-right">
              <figure class="image is-128X128 is-centered">
                <img src={{imageUrl}} alt="Placeholder image">
              </figure>
              <div class="content field has-addons">
                <!-- Edit -->
                <a class="button is-white" (click)="editCard()">EDITAR</a>

                <!-- Deleted -->
                <a class="button is-white" (click)="deletedCard()">ELIMINAR</a>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="editing" class="content">
        <span>Se está editando el componente Card {{index}}</span>
        <form [formGroup]="form">
          <div class="field">
            <label class="label">Title</label>
            <div class="control">
              <input class="input" type="text" formControlName="title" placeholder="Ingrese un título">

            </div>
          </div>
          <div class="field">
            <label class="label">Descripción</label>
            <div class="control">
              <input class="input" type="text" formControlName="content" placeholder="Ingrese una descripción">
            </div>

          </div>
          <div class="field">
            <label class="label">Imagen</label>
            <div class="control">
              <input class="input" type="text" formControlName="imageUrl"
                      placeholder="Ingrese una descripción web de la imagen"
                      accept="image/*">
            </div>

          </div>
          <button type="button" [disabled]="form.invalid" (click)="addNewCard()">Guardar</button>

        </form>

      </div>
    </div>
  </div>
</main>
