<main class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="card" *ngIf="!editing">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <h1 class="title is-2">{{title}}</h1>
              <h2 class="subtitle is-4">{{content}}</h2>
            </div>
            <div class="media-content"></div>
            <div class="media-right">
              <figure class="image is-128X128 is-centered">
                <img src={{imageUrl}} alt="Placeholder image">
              </figure>
              <div class="content field has-addons">
                <!-- Edit -->
                <a class="button is-white" (click)="editCard()">EDITAR</a>
                <!-- <div class="file has-padding-left-2">
                  <label class="file-label">
                    <input class="file-input" type="file" name="edit" (click)="editCard()">
                    <span class="file-label">
                      EDITAR
                    </span>
                  </label>
                </div> -->


                <!-- Deleted -->
                <a class="button is-white" (click)="deletedCard()">ELIMINAR</a>
                <!-- <div class="file">
                  <label class="file-label">
                    <input class="file-input" type="file" name="edit" (change)="deletedPhoto($event)">
                    <span class="file-label">
                      ELIMINAR
                    </span>
                  </label>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="editing">
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" placeholder="Ingrese un título">
          </div>
        </div>
        <div class="field">
          <label class="label">Descripción</label>
          <div class="control">
            <input class="input" type="text" placeholder="Ingrese una descripción">
          </div>
        </div>

        <div class="field">
          <div class="file has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="resume">
              <span class="file-cta">
                <!-- <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span> -->
                <!-- <span class="file-label">
                    Normal file…
                  </span> -->
              </span>
              <span class="file-name">
                <input class="input" type="text" placeholder="Ingrese una url">
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
