<main class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
            <!-- Noticia uno -->
            <div class="media">
              <div class="media-left">
                <p class="title is-4">{{title1}}</p>
                <p class="subtitle is-5">{{description1}}</p>
              </div>
              <div class="media-content"></div>
              <div class="media-right">
                <figure class="image is-150x150 is-centered">
                  <img src={{logo1}} alt="Placeholder image">
                </figure>
              </div>
            </div>
            <!-- Noticia dos -->
            <div class="media">
              <div class="media-left">
                <p class="title is-4">{{title2}}s</p>
                <p class="subtitle is-5">{{description2}}</p>
              </div>
              <div class="media-content"></div>
              <div class="media-right">
                <figure class="image is-150x150 is-centered">
                  <img src={{logo2}} alt="Placeholder image">
                </figure>
              </div>
            </div>
            <!-- Noticia tres -->
            <div class="media">
              <div class="media-left">
                <p class="title is-4">{{title3}}</p>
                <p class="subtitle is-5">{{description3}}</p>
              </div>
              <div class="media-content"></div>
              <div class="media-right">
                <figure class="image is-150x150 is-centered">
                  <img src={{logo3}} alt="Placeholder image">
                </figure>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</main>
