<main class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
            <!-- Noticia uno -->
            <div class="media">
              <div class="media-left">
                <p class="title is-4">Noticia Uno</p>
                <p class="subtitle is-5">Descripción noticia</p>
              </div>
              <div class="media-content"></div>
              <div class="media-right">
                <figure class="image is-150x150 is-centered">
                  <img src="https://bulma.io/images/placeholders/64x64.png" alt="Placeholder image">
                </figure>
              </div>
            </div>
            <!-- Noticia dos -->
            <div class="media">
              <div class="media-left">
                <p class="title is-4">Noticia Dos</p>
                <p class="subtitle is-5">Descripción noticia</p>
              </div>
              <div class="media-content"></div>
              <div class="media-right">
                <figure class="image is-150x150 is-centered">
                  <img src="https://bulma.io/images/placeholders/64x64.png" alt="Placeholder image">
                </figure>
              </div>
            </div>
            <!-- Noticia tres -->
            <div class="media">
              <div class="media-left">
                <p class="title is-4">Noticia Tres</p>
                <p class="subtitle is-5">Descripción noticia</p>
              </div>
              <div class="media-content"></div>
              <div class="media-right">
                <figure class="image is-150x150 is-centered">
                  <img src="https://bulma.io/images/placeholders/64x64.png" alt="Placeholder image">
                </figure>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</main>
